* {
  max-width: 100%;
}

/* HEADER
------------------------- */
.navbar, .fechaLugar {
  background-color: rgb(51, 50, 50);
}

/* LOS HOVER
-------------------------------------------------- */

.navbar-nav .nav-link:hover  {
  color: rgb(162, 190, 190) !important;
}

.navbar-nav .compraTickets:hover  {
  color: white !important;
  background-color: green;
  border-radius: 8%;
}


#menu-footer .nav-link:hover { 
  color: rgb(143, 139, 135); 
}

  /* CAROUSEL
-------------------------------------------------- */

.carousel-item img { 
  filter: brightness(45%);
  max-height: 100vh;
  margin-top: 5.4rem;
}

.carousel-caption {
  margin-left: 35%;
  margin-bottom: 10%;
  text-align: end;
  background-color: red;
}

@media (max-width: 768px) {
  .carousel-caption {
    background-color: blue;
    text-align: center;
    margin-left: auto;
  }

  .carousel-item img {
    height: 100vh;
    margin: auto;
  }
}


/* SECCION MITAD IMG, MITAD TEXTO
-------------------------------------------------- */
.titulo-gral {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.titulo-gral span {
  font-weight: 700;
  font-size: 2rem;
}

  /* CARDS
-------------------------------------------------- */
.card {
  margin-top: 10px;
  margin-left: 10px;
}

  /* FORM COMPRAR TICKETS
-------------------------------------------------- */

p span {
  text-decoration:underline dotted;
}

  /* FOOTER
-------------------------------------------------- */

#menu-footer {
  background-color: rgb(42, 56, 88);
  padding: 1rem;
}

#menu-footer .nav-link {
  color: white;
  text-align: center;
}

